################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JS_NameResolution/JS_NameResolution.VC.VC.opendb
